doctype
html
  head
    link(rel="stylesheet", href="main.css")
  body.no-select
    != yield
    script(src="lib/jquery-1.11.0.min.js")
    script(src="space.js")
    script(src="star.js")
    script(src="ship.js")