canvas( height="600" width="500")

p
    |score:
    span#score
p
    |lives:
    span#lives

#menu
    h1 SPACE SHOOTER
    h3  1. If enemies get to the bottom you lose life.
        br
        |2. If you get hit you lose life.
        br
        |Have FUN!
    button#start start
